<form id="fs-frm" name="survey-form" accept-charset="utf-8" action="https://formspree.io/f/mleaalzd" method="post">
  <fieldset id="fs-frm-inputs">
    <fieldset id="fs-frm-info" class="row gutter-m space">
      <div class="form-item col col-1of2">
        <label for="full-name">What’s your name?</label>
        <input type="text" name="name" id="full-name" placeholder="First and Last" required="true">
      </div>
      <div class="form-item col col-1of2">
        <label for="email-address">What’s your email address?</label>
        <input type="email" name="_replyto" id="email-address" placeholder="speedy3000@hotwheels.com" required="true">
      </div>
    </fieldset>
    <fieldset id="fs-frm-selects">
      <div class="form-item">
        <label for="service">What are you interested in?</label>
        <select name="service" id="service" required="true">
          <option value="Choose" selected="" disabled="">Choose a Service</option>
          <option value="Monthly Coaching">Monthly Coaching</option>
          <option value="Consultation Call">Consultation Call</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="form-item">
        <label for="coach">Who would you like to connect with?</label>
        <select name="coach" id="coach" required="">
          <option value="Choose" selected="" disabled="">Patrick or Nicole?</option>
          <option value="Patrick">Patrick</option>
          <option value="Nicole">Nicole</option>
        </select>
      </div>
    </fieldset>
    <div class="form-item">
      <label for="message">Your Message</label>
      <textarea rows="3" name="message" id="message" placeholder="Tell us a bit about yourself. When would you like to chat or when would you like to start the coaching program? Do you have a race in mind? What are some of your goals?" required=""></textarea>
    </div>

    <input type="hidden" name="_subject" id="email-subject" value="Coaching Inquiry">
  </fieldset>
  <div class="button large"><input type="submit" value="Send"></div>
</form>
