{% if page.cover %}
  <div class="cover-container">
      <div class="image">
        <div class="crop">
          <div>
            {% if page.cover.desktop-position or page.cover.mobile-position %}
              <style type="text/css">
                :root {
                  --h-position: {% if page.cover.mobile-position.horizontal %}{{ page.cover.mobile-position.horizontal }}{% else %}center{% endif %};
                  --v-position: {% if page.cover.mobile-position.vertical %}{{ page.cover.mobile-position.vertical }}{% else %}center{% endif %};
                }
                @media only screen and (min-width: 960px) {
                  :root {
                    --h-position: {% if page.cover.desktop-position.horizontal %}{{ page.cover.desktop-position.horizontal }}{% else %}center{% endif %};
                    --v-position: {% if page.cover.desktop-position.vertical %}{{ page.cover.desktop-position.vertical }}{% else %}center{% endif %};
                  }
                }
              </style>
            {% endif %}
            <img src="{{ page.cover.image }}">
          </div>
        </div>
        {% if page.cover.credit %}
          <div class="photo-credit">
            Photo: {% if page.cover.credit-link %}<a href="{{ page.cover.credit-link }}" target="_blank">{% endif %}{{ page.cover.credit }}{% if page.cover.credit-link %}</a>{% endif %}
          </div>
        {% endif %}
      </div>

    {% if page.title %}
      <div class="cover-content-container">
        {% if page.categories %}
          <div class="post-category">
            {% for category in page.categories %}
              <span>{{ category }}</span>
            {% endfor %}
          </div>
        {% endif %}

        <div class="cover-title">
          <h1>
            {% unless page.cover.headline %}
              {{ page.title }}
            {% else %}
              {{ page.cover.headline }}
            {% endunless %}
          </h1>
        </div>

        {% if page.cover.description %}
          <div class="cover-content">
            {{ page.cover.description | markdownify }}
          </div>
        {% endif %}

        {% if page.cover.cta %}
          <div class="cover-cta">
            <div class="button">
              <a href="{{ page.cover.cta.link }}">{{ page.cover.cta.copy }}</a>
            </div>
          </div>
        {% endif %}

        {% if page.layout == "post" %}
          <div class="post-date">
            <time>
              {% assign d = page.date | date: "%-d" %}
              {{ page.date | date: "%B" }} {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ page.date | date: "%Y" }}
            </time>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
