<form id="fs-frm" name="survey-form" accept-charset="utf-8" action="{{ section.form-endpoint }}" method="post">
  <fieldset id="fs-frm-inputs">
    <fieldset id="fs-frm-info" class="row gutter-m h-align--space-between">
      <div class="form-item col col-1of2">
        <label for="full-name">What’s your name?</label>
        <input type="text" name="name" id="full-name" placeholder="First and Last" required="true">
      </div>
      <div class="form-item col col-1of2">
        <label for="email-address">What’s your email address?</label>
        <input type="email" name="_replyto" id="email-address" placeholder="speedy3000@hotwheels.com" required="true">
      </div>
    </fieldset>

    {% for block in section.contact-form %}
      <div class="form-item">
        {% if block.type == "heading" %}
          <h1>{{ block.label }}</h1>
        {% else %}
          <label for="{{ block.label | slugify }}">{{ block.label }}</label>
        {% endif %}

        {% if block.description %}
          <div class="item-description text-dark mt-xs mb-xs">
            {{ block.description | markdownify }}
          </div>
        {% endif %}

        {% if block.type == "short-text" %}
          <input type="text" name="{{ block.label | slugify }}" id="{{ block.label | slugify }}" {% if block.placeholder-text %}placeholder="{{ block.placeholder-text }}"{% endif %} {% if block.is-required %}required="true"{% endif %}>
        {% endif %}

        {% if block.type == "long-text" %}
          <textarea rows="3" name="{{ block.label | slugify }}" id="{{ block.label | slugify }}" {% if block.placeholder-text %}placeholder="{{ block.placeholder-text }}"{% endif %} {% if block.is-required %}required="true"{% endif %}></textarea>
        {% endif %}

        {% if block.type == "dropdown" %}
          <select name="{{ block.label | slugify }}" id="{{ block.label | slugify }}" {% if block.is-required %}required="true"{% endif %}>
            {% if block.placeholder-text %}
              <option value="Choose" selected="" disabled="">{{ block.placeholder-text }}</option>
            {% endif %}
            {% for option in block.options %}
              <option value="{{ option.option }}">{{ option.option }}</option>
            {% endfor %}
          </select>
        {% endif %}
      </div>
    {% endfor %}

    <input type="hidden" name="_subject" id="email-subject" value="Coaching Inquiry">
  </fieldset>
  <div class="button large"><input type="submit" value="Send"></div>
</form>
