<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.url == "/" %}
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ site.title }} — {{ page.title }}</title>
    {% endif %}

    {% for social in site.social %}
      {% if social.platform-name == "Twitter" %}
        <meta name="twitter:creator" content="@{{ social.username }}" />
      {% endif %}
    {% endfor %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% if page.url == "/" %}{{ site.title }}{% else %}{{ site.title }} — {{ page.title }}{% endif %}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <meta property="og:image" content="" />
    <link rel="icon" type="image/png" href="">

    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">

    {% if page.custom-css %}
      {% for css in page.custom-css %}
        <link rel="stylesheet" href="/assets/css/custom/{{ css.source }}.css">
      {% endfor %}
    {% endif %}

    {% if site.captcha-key %}
      <script src="https://www.google.com/recaptcha/api.js?render={{ site.captcha-key }}"></script>
      <script>
          grecaptcha.ready(function () {
              grecaptcha.execute('{{ site.captcha-key }}', {action: 'submit'}).then(function (token) {
                  console.info("got token: " + token);
                  document.getElementById('g-recaptcha-response').value = token;
              });
          });
      </script>
    {% endif %}
  </head>
