{% if page.feature-image %}
  <div class="primary-feature">
      <div class="feature-image">
        <div class="crop">
          <div>
            <img src="{{ page.feature-image }}">
          </div>
        </div>
        {% if page.feature-credit %}
          <div class="feature-credit">
            Photo: {% if page.feature-credit-link %}<a href="{{ page.feature-credit-link }}" target="_blank">{% endif %}{{ page.feature-credit }}{% if page.feature-credit-link %}</a>{% endif %}
          </div>
        {% endif %}
      </div>

    {% if page.title %}
      <div class="feature-card">
        {% if page.category %}
          <div class="post-category">
            <span>{{ page.category }}</span>
          </div>
        {% endif %}

        <h1 class="feature-title">
          {% unless page.feature-headline %}
            {{ page.title }}
          {% else %}
            {{ page.feature-headline }}
          {% endunless %}
        </h1>

        {% if page.feature-description %}
          <div class="feature-description">
            {{ page.feature-description }}
          </div>
        {% endif %}

        {% if page.feature-cta %}
          <div class="feature-cta">
            {% for cta in page.feature-cta %}
              <div class="button">
                <a href="{{ cta.link }}">{{ cta.copy }}</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if page.layout == "post" %}
          <div class="post-date">
            <time>
              {% assign d = page.date | date: "%-d" %}
              {{ page.date | date: "%B" }} {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ page.date | date: "%Y" }}
            </time>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
