<section id="testimonials-container" class="testimonials-container width-m">

</section>

{% assign testimonials = site.pages | where: 'title', 'Testimonials' %}
{% assign testimonials = testimonials[0].testimonials %}

<script>
  var testimonialContainer = document.getElementById("testimonials-container");

  const allTestimonials =
    [{% for testimonial in testimonials %}"
      {% include testimonial.html %}
    "{% unless forloop.last %},{% endunless %}{% endfor %}];

  function randomTestimonial() {
    const randomTestimonial = allTestimonials[Math.floor(Math.random() * allTestimonials.length)];
    return randomTestimonial;
  }

  console.log(allTestimonials);

  testimonialContainer.innerHTML = randomTestimonial();
</script>
