<div class="subscribe-container">
  <h1>The Ultra Wizard Newsletter</h1>
  <div class="description">
    Sign up for stories from the trail, race recaps, training tips, and more.
  </div>
  <div class="subscribe-form">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/MatthewSmith"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/MatthewSmith', 'popupwindow')"
      class="embeddable-buttondown-form">
      <label for="bd-email">Enter your email</label>
      <input type="email" name="email" id="bd-email" placeholder="Your email address" />
      <input type="hidden" value="1" name="embed" />
      <div class="submit">
        <input type="submit" value="Subscribe" alt="Submit" />
        <span class="arrow">
          <svg width="21" height="10" viewBox="0 0 21 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 5H20" stroke="black"></path><path d="M16 1L20 5L16 9" stroke="black"></path></svg>
        </span>
      </div>
    </form>
  </div>
</div>
