html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

input::-webkit-input-placeholder {
  white-space: nowrap;
}

input::-moz-placeholder {
  white-space: nowrap;
}
input:-ms-input-placeholder {
  white-space: nowrap;
}
input:-moz-placeholder {
  white-space: nowrap;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* ---------- GRID ---------- */

.row {
  --gutter-var: var(--spacing-m);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.v-align--center {
  align-items: center;
}

.h-align--space-between {
  justify-content: space-between;
}

.h-align--center {
  justify-content: center;
}

.reverse {
  flex-direction: row-reverse;
}

.gutter-0 {
  --gutter-var: 0;
}

.gutter-s {
  --gutter-var: var(--spacing-s);
}

.gutter-m {
  --gutter-var: var(--spacing-m);
}

.gutter-l {
  --gutter-var: var(--spacing-l);
}

.gutter-xl {
  --gutter-var: var(--spacing-xl);
}

.columns-2 {
  column-count: 2;
  column-gap: 2em;
}

.col {
  align-self: flex-start;
  width: 100%;
}

.v-align--center .col {
  align-self: center;
}

.content .col {
  margin-left: 0;
  margin-right: 0;
}

.gallery {
  --gutter-var: 0em;
}

.width-f .gallery {
  margin: 0 var(--spacing-s);
  width: calc(100% - (var(--spacing-s) * 2));
}

.width-l .gallery,
.width-m .gallery,
.width-s .gallery {
  margin-left: calc((var(--spacing-s) * -1));
  width: calc(100% + (var(--spacing-s) * 2));
}

.gallery .col {
  padding: var(--spacing-s);
}

@media only screen and (min-width: 960px) {
  .col-1of2 {
    --gutter: (var(--gutter-var) / 2);
    max-width: calc(50% - var(--gutter));
  }

  .col-1of3 {
    --gutter: (var(--gutter-var) / 3);
    max-width: calc(((100% / 3) * 1) - var(--gutter));
  }

  .col-2of3 {
    --gutter: (var(--gutter-var) / 3);
    max-width: calc(((100% / 3) * 2) - var(--gutter));
  }

  .col-1of4 {
    --gutter: (var(--gutter-var) / 4);
    max-width: calc(((100% / 4) * 1) - var(--gutter));
  }

  .col-3of4 {
    --gutter: (var(--gutter-var) / 4);
    max-width: calc(((100% / 4) * 3) - var(--gutter));
  }
}

@media only screen and (max-width: 1279px) {
  .break-1280 > .col {
    max-width: 100%;
  }
}

/* ---------- Background ---------- */

.bg-white {
  background: var(--color-white);
}

/* ---------- Corners ---------- */

.corner--all {
  border-radius: var(--border-radius);
}

/* ---------- Margin ---------- */

.mb-xs {
  margin-bottom: var(--spacing-xs);
}

.mb-s {
  margin-bottom: var(--spacing-s);
}

.mb-m {
  margin-bottom: var(--spacing-m);
}

.mb-l {
  margin-bottom: var(--spacing-l);
}

.mb-xl {
  margin-bottom: var(--spacing-xl);
}

.mb-exterior {
  margin-bottom: var(--spacing-exterior);
}

/* ---------- Padding ---------- */

.padding--xs {
  padding: var(--spacing-xs);
}

.padding--s {
  padding: var(--spacing-s);
}

.padding--m {
  padding: var(--spacing-m);
}

.padding--l {
  padding: var(--spacing-l);
}

.padding--xl {
  padding: var(--spacing-xl);
}

.padding--exterior {
  padding: var(--spacing-exterior);
}
