.testimonial {
  background: var(--color-white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-s);
  overflow: hidden;
}

.testimonial .image {
  flex: 1;
  width: 100%;
}

.testimonial .image,
.testimonial .image .photo-credit {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.testimonial .image img {
  height: auto;
}

.testimonial .info {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.testimonial .info > * {
  margin: 0;
  padding: var(--spacing-s) var(--spacing-m);
}

.testimonial .info .text {
  position: relative;
}

.testimonial .info .text::before {
  color: var(--color-light);
  content: "“";
  font-family: var(--font-headings);
  font-size: 6em;
  font-weight: 700;
  line-height: 1;
  left: 0.5rem;
  position: absolute;
  top: 0;
}

.testimonial .highlight {
  font-family: var(--font-headings);
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  position: relative;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.testimonial .name {
  border-top: 1px solid var(--color-light);
  font-family: var(--font-headings);
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 960px) {
  .testimonial {
    flex-direction: row;
    margin-bottom: var(--spacing-m);
  }

  .testimonial .image .crop {
    height: 100%;
    flex-grow: 1;
  }

  .testimonial .image,
  .testimonial .image .photo-credit,
  .testimonial .image .photo-credit::after {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  .testimonial:nth-child(odd) .image,
  .testimonial:nth-child(odd) .image .photo-credit,
  .testimonial:nth-child(odd) .image .photo-credit::after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .testimonial .image .crop > div {
    padding-bottom: 0;
  }

  .testimonial .image img {
    height: 100%;
  }

  .testimonial .description {
    font-size: 18px;
  }

  .testimonial:nth-child(even) {
    flex-direction: row-reverse;
  }

  .testimonial:nth-child(even) .image,
  .testimonial:nth-child(even) .image .photo-credit,
  .testimonial:nth-child(even) .image .photo-credit::after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
