---
layout: page
---

{% for coach in page.coaches %}
  <section>
    <div class="inner row gutter-l width-l space">
      <div class="image col col-1of2">
        <img src="{{ coach.headshot.image }}">
        {% if coach.headshot.credit %}
          <div class="photo-credit">
            Photo: {% if coach.headshot.credit-url %}<a href="{{ coach.headshot.credit-url }}" target="_blank">{% endif %}{{ coach.headshot.credit }}{% if coach.headshot.credit-url %}</a>{% endif %}
          </div>
        {% endif %}
      </div>
      <div class="info col col-1of2">
        <h1>{{ coach.name }}</h1>

        {{ coach.bio-text }}

        <p>Patrick has ten years of coaching experience and twenty years of running experience.  Patrick began coaching endurance athletes in 2011 at the collegiate level.  He served as a head cross country and track coach from 2012-2019 in the NAIA.  In 2016, Patrick started coaching ultrarunners to guide them towards accomplishing their goals.</p>

        <p>The athletes Patrick coaches have finished on the podium at the USATF 100 Mile Road National Championships, Yeti 100, Ultravasan, and the Javelina Jundred. He has also coached athletes to finishes at Western States 100, UTMB, Comrades, and Hardrock 100.</p>

        <p>At the collegiate level in the NAIA, Patrick coached athletes to twelve All-American awards, including three national runner-up finishes.  He also coached ten cross country conference championships teams and was named the USTFCCCA Cross Country Southeastern Coach of the Year.</p>
      </div>
    </div>
  </section>
{% endfor %}
