---
layout: page
---

{% for coach in page.coaches %}
  <section class="bio">
    <div class="inner row gutter-l width-l space">
      <div class="image col col-1of2">
        <img src="{{ coach.headshot.image }}">
        {% if coach.headshot.credit %}
          <div class="photo-credit">
            Photo: {% if coach.headshot.credit-url %}<a href="{{ coach.headshot.credit-url }}" target="_blank">{% endif %}{{ coach.headshot.credit }}{% if coach.headshot.credit-url %}</a>{% endif %}
          </div>
        {% endif %}
      </div>
      <div class="info col col-1of2">
        <h1>{{ coach.name }}</h1>
        {{ coach.bio-text | markdownify }}
      </div>
    </div>
  </section>

  {% assign counter = 0 %}
  {% for tier in coach.tiers %}
    {% assign counter = counter | plus: 1%}
  {% endfor %}

  <section class="tiers-container coaching" style="--tier-count: {% if counter > 4 %}4{% else %}{{ counter }}{% endif %}">
    {% for tier in coach.tiers %}
      {% if tier.is-available == true %}<a class="tier available" href="{{ tier.url }}">{% else %}<div class="tier unavailable">{% endif %}
        <div class="tier-info">
          <div class="tier-title">
            <h2>{{ tier.name }}</h2>
            <h3>{{ tier.subtitle }}</h3>
          </div>
          <div class="tier-price">
            <span>{{ tier.price }}{% if tier.price-time-unit %}<span class="unit">{{ tier.price-time-unit }}</span>{% endif %}</span>
          </div>
          <div class="tier-description">
            {% if tier.perks %}
              <ul class="perks">
                {% for perk in tier.perks %}
                  <li>{{ perk }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="tier-more">
            {% if tier.is-available == true %}
              <div>
                <span class="more-text">Sign Up</span>
                <span class="arrow">
                  <svg width="21" height="10" viewBox="0 0 21 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 5H20" stroke="black"/><path d="M16 1L20 5L16 9" stroke="black"/></svg>
                </span>
                <div class="coach">with {{ coach.name | split: ' ' | first }}</div>
              </div>
              {% if tier.spots-available %}
                <div class="spots">
                  {{ tier.spots-available }} spot{% if tier.spots-available > 1 %}s{% endif %} available
                </div>
              {% endif %}
            {% else %}
              <div>
                <span class="more-text">Sorry, No Availability</span>
              </div>
            {% endif %}
          </div>
        </div>
      {% if tier.is-available == true %}</a>{% else %}</div>{% endif %}
    {% endfor %}
  </section>
{% endfor %}

<section class="width-l">
  <h1>Don’t know where to start?</h1>

  <p class="text-center">No problem. Send us an email with any questions you have and then we can determine what’s the best fit for you.</p>

  <div class="button">
    <a href="/contact">Contact Us</a>
  </div>
</section>
