---
layout: page
---

<section>
  <div class="inner row gutter-xl width-l space break-1280">
    <div class="form col mb-l col-2of3">
      {% include contact-form.html %}
    </div>

    <div class="col col-1of3">
      <div class="image mb-m">
        <img src="{{ page.headshot.image }}">
        {% if page.headshot.credit %}
          <div class="photo-credit">
            Photo: {% if page.headshot.credit-url %}<a href="{{ page.headshot.credit-url }}" target="_blank">{% endif %}{{ page.headshot.credit }}{% if page.headshot.credit-url %}</a>{% endif %}
          </div>
        {% endif %}
      </div>

      <div class="mb-m">
        <h3>Email</h3>
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      </div>

      <div class="mb-m">
        <h3>Social Media</h3>
        <ul class="plain">
          <li><a href="{{ site.strava_URL }}">Strava</a></li>
          <li><a href="{{ site.instagram_URL }}">Instagram</a></li>
          <li><a href="{{ site.twitter_URL }}">Twitter</a></li>
          <li><a href="{{ site.facebook_URL }}">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
