---
layout: page
---

<section>
  <div class="inner row gutter-xl width-l h-align--space-between break-1280">
    <div class="form col mb-l col-2of3">
      {% include content-blocks.html %}
    </div>

    <div class="col col-1of3">
      <div class="image mb-m">
        <img src="{{ page.headshot.image }}">
        {% if page.headshot.credit %}
          <div class="photo-credit">
            Photo: {% if page.headshot.credit-url %}<a href="{{ page.headshot.credit-url }}" target="_blank">{% endif %}{{ page.headshot.credit }}{% if page.headshot.credit-url %}</a>{% endif %}
          </div>
        {% endif %}
      </div>

      {% if site.email %}
        <div class="mb-m">
          <h3>Email</h3>
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
      {% endif %}

      {% if site.social %}
        <div class="mb-m">
          <h3>Social Media</h3>
          <ul class="plain">
            {% for social in site.social %}
              <li><a href="{{ social.url }}">{{ social.platform-name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</section>
