---
layout: page
---

{% if page.podcast %}
<div class="podcast-container">
  <div class="podcast-image">
    <div class="crop crop-5x4">
      <div>
        <img src="{{ page.podcast.image }}">
      </div>
    </div>
  </div>

  <div class="podcast-info">
    <div class="podcast-details">
      <div class="podcast-title">
        <h2>{{ page.podcast.title }}</h2>
      </div>
      <div class="podcast-description">
        {{ page.podcast.description | markdownify }}
      </div>
      <div class="button">
        <a href="{{ page.podcast.link }}">Listen to the podcast</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% assign features = site.dataMedia | where: 'title', 'Featured On' %}
{% assign features = features[0].features | sort: 'date' | reverse %}

<div class="width-l row space gutter-l">
  <section class="col col-1of2 sticky">
    <h3>Recent Episodes</h3>
    <ul class="TH-episodes">
      Loading Podcasts…
    </ul>
    <div class="button">
      <a href="{{ page.podcast.link }}">View All Episodes</a>
    </div>
  </section>

  <section class="col col-1of2 sticky">
    <h3>Featured On</h3>
    <div class="list features">
      {% for feature in features limit:5 %}
        {% if feature.url %}
          <a class="item" href="{{ feature.url }}">
        {% else %}
          <div class="item">
        {% endif %}
          <div class="details">
            <div class="name">{{ feature.name }}</div>
          </div>
          <div class="meta">
            <div class="type">{{ feature.type }}</div>
            <time>
              {% assign d = feature.date | date: "%-d" %}
              {{ feature.date | date: "%B" }} {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ feature.date | date: "%Y" }}
            </time>
          </div>

        {% if feature.url %}
          </a>
        {% else %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="button">
      <a href="/features">View More</a>
    </div>
  </section>
</div>
