---
layout: base
---

{% include header.html %}

{% if page.cover %}
  {% include cover-image.html %}
{% endif %}

<div class="content-container">
  <div class="content">
    {% unless page.cover %}
      <div class="row width-l">
        <div class="col">
          <h1 class="page-title">{{ page.title }}</h1>
        </div>
      </div>
    {% endunless %}

    {{ content }}

    {% if page.layout == "page" %}
      {% include content-blocks.html %}
    {% endif %}
  </div>
</div>

{% include footer.html %}
