---
layout: base
---

{% include header.html %}

{% include cover-image.html %}

<div class="content-container">
  <div class="content">

    {% unless page.cover %}
      <div class="page-info">
        <div class="post-category">
          <span>{{ page.category }}</span>
        </div>
        <h1 class="page-title">
          {{ page.title }}
        </h1>
        <div class="post-date">
          <time>
            {% assign d = page.date | date: "%-d" %}
            {{ page.date | date: "%B" }} {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ page.date | date: "%Y" }}
          </time>
        </div>
      </div>
    {% endunless %}

    {{ content }}
  </div>

  <div class="post-nav">
    {% if page.previous.url %}
      <a class="older" href="{{page.previous.url}}">
        <p class="nav-title">Older</p>
        <p class="post-title">{{page.previous.title}}</p>
      </a>
    {% endif %}
    {% if page.next.url %}
    <a class="newer" href="{{page.next.url}}">
      <p class="nav-title">Newer</p>
      <p class="post-title">{{page.next.title}}</p>
    </a>
    {% endif %}
  </div>
</div>

{% include footer.html %}
